.multi-select {
    width: 180px;
    height: 40px;

    .select-button {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        background-color: white;

        span {
            display: inline-block;
            vertical-align: middle;
            width: 90%;
            overflow: hidden;
            text-align: left;
        }

        .button-icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 50%;
            color: gray;
        }
    }

    .select-button.btn-default:focus, .btn-default.focus {
        background-color: white;
    }

    .button-set-container {
        // height: 30px;
        padding: 5px;

        button {
            display: inline-block;
            vertical-align: middle;
        }

        .multi-btn {
            cursor: pointer;
            height: 24px;
            text-align: center;
            border: 1px solid #ccc;
            color: #666;
            background-color: #f1f1f1;
        }

        .multi-btn:hover {
            border: 1px solid #ccc;
            color: #999;
            background-color: #f4f4f4;
        }
    }

    .button-set-container:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .search-box-container {
        // height: 30px;
        line-height: 25px;
        padding-left: 10px;
        padding-right: 15px;
        padding-bottom: 5px;
        position: relative;

        input[type=text] {
            width: 100%;
            height: 20px;
        }

        input[type=text]:focus {
            box-shadow: 0 0 5px #259ae9;
            border: 1px solid #259ae9;
        }

        .clear {
            cursor: pointer;
            position: absolute;
            font-size: 12px;
            top: 2px;
            right: 15px;
            color: #666;
        }

        .clear:hover {
            color: #999;
        }
    }

    .drop-down {
        width: 230px;
        border: 1px solid #ddd;
        background-color: white;
        z-index: 5;
        position: absolute;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

        .drop-down-list {
            overflow-y: auto;
            max-height: 250px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            ul {
                padding: 0px;
                margin: 0px;
            }
            li {
                list-style: none;
            }

            li > a {
                display: block;
                color: #333;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-decoration: none;
                cursor: default;

                span {
                    padding-left: 12px;
                    cursor: pointer;
                }

                &:hover {
                    background-color: #e7eaeb;
                }
                &:active, &.selected {
                    color: #ffffff;
                    background-color: #bdc7d4;

                    i {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
