<div class="multi-select">
    <button class="select-button"
        type="button"
        class="btn btn-default"
        ng-click="$ctrl.toggleDropDown( $event )"
        ng-disabled="disable-button">
        <span>
            {{$ctrl.buttonText()}}
        </span>
        <!-- <i class="glyphicon glyphicon-triangle-bottom button-icon"></i> -->
    </button>
    <div class="drop-down" ng-show="toggled">
        <div class="button-set-container" ng-show="$ctrl.powerSelect">
            <button
                type="button"
                class="multi-btn"
                ng-click="$ctrl.onSelectAll()">
                select all
            </button>
            <button
                type="button"
                class="multi-btn"
                ng-click="$ctrl.onSelectNone()">
                select none
            </button>
            <button
                type="button"
                class="multi-btn"
                ng-click="$ctrl.onReset()">
                reset
            </button>
        </div>
        <div class="search-box-container"
            ng-show="$ctrl.powerSearch">
            <input type="text"
                ng-model="searchKey"
                ng-change="$ctrl.onSearchChange($event)"
                placeholder="SEARCH">
                <a class="clear" ng-click="$ctrl.deleteInput()">
                    ×
                </a>
            </input>
        </div>
        <div class="drop-down-list">
            <ul>
                <li ng-repeat="node in model"
                    ng-show="node.filtered">
                    <a class=not-wrap
                        ng-click="$ctrl.onSelectItem(node)"
                        ng-class="{'selected': node.selected}">
                        <span>{{node.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
